@font-face {
    font-family: "bravura";
    src: url("/fonts/BravuraText.ttf")/* need to add BravuraText.ttf font file to fonts folder */
}

.icon-music::before {
    content: "♫";
    font-family: "bravura";
}

.icon-music-lesson {
    font-family: "bravura" !important;
    color: rgba(0, 0, 0, 0.6);
    margin-right: .75rem !important;
    margin-top: 1rem !important;
    float: right;
}
